*:not(i) {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

h1, h2, h3, h4, h5, h6 {
  text-transform: uppercase;
}

a:link, a:visited {
  color: #7280ae;
  background-color: transparent;
  text-decoration: none;
}

.wrapper, .wrapper__main, .post, .post__content, .post__footer {
    color: #7280ae;
    background-color: #ffffff; 
  }

.theme--dark .post__content, .theme--dark .archive__heading, .theme--dark .archive__list-title {
    color: #7280ae;
    background-color: #ffffff; 
  }

.sidebar {
    background-color: rgb(30, 46, 62);
    color: #7280ae;
}

.sidebar__content{
background-attachment: scroll, scroll;
background-image: url("/images/overlay.png"), url("/images/bg.png");
background-position: top left, top left;
background-repeat: repeat, no-repeat;
background-size: auto, 150%;
color: rgba(255, 255, 255, 0.5);
background-color: rgb(30, 46, 62);
height: 100%;
}

html, .header {
  background-color: #ffffff;
}

#navMenu, nav.nav, .theme--dark .nav__list {
  background-color: #ffffff;
}

.nav__list--end {
  background-color: #ffffff;
}

a.nav__link--active {
  color: #6a9a7f;
}

a, a:visited, .theme--dark .post__content h3 a, .theme--dark .post__content a {
  color: #6a9a7f;
}

.wrapper {
  justify-content: left;
}


.html .theme--dark {
  background-color: #ffffff
}

.theme--dark .post__footer {
  border-top: 0px;
  border-bottom: 0px solid #464646;
  padding: 0px;
}

.column {
  float: left;
  width: 50%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
